<p-table [value]="products" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[globalFilterFields]="['product.name','product.lastKnowPrice','product.shop','product.dateOfActualization']"
styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="name" style="width: available;">Nazwa <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="lastKnowPrice" style="width: 17%;">Ostatnia znana cena <p-sortIcon field="lastKnowPrice"></p-sortIcon></th>
            <th pSortableColumn="shop" style="width: 10%; ">Sklep <p-sortIcon field="shop"></p-sortIcon></th>
            <th pSortableColumn="dateOfActualization" style="width: 20%;">Data ostatniej aktualizacji <p-sortIcon field="dateOfActualization"></p-sortIcon></th>

        </tr>
                <tr>
                    <th></th>
            <th>
                
                <p-columnFilter type="text" field="name"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="numeric" field="lastKnowPrice" currency="PLN"> </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="shop" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="shops" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="date" field="dateOfActualization" ></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
            <td>
                <button type="button" (click)="onProductSelected(product)" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
             <a [href]="product.link" target="_blank">{{product.name}}</a>
            </td>
            <td>{{product.lastKnowPrice | number : '.2-2'}} zł</td>
            <td>{{product.shop}}</td>
            <td>{{product.dateOfActualization | date: "dd-MM-YYYY HH:mm"}}</td>

        </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">Brak wyników po wskazanej frazie, spróbujemy je wyszukać, wróć ponownie później</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
        <tr>
            <td colspan="5">
                <div class="p-p-3">
                    <p-table [value]="product.productPriceList" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="dateOfAdd">Data dodania <p-sortIcon field="dateOfAdd"></p-sortIcon></th>
                                <th pSortableColumn="price">Cena <p-sortIcon field="price"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-productPriceList>
                            <tr>
                                <td>{{productPriceList.dateOfAdd | date: "dd-MM-YYYY HH:mm"}}</td>
                                <td>{{productPriceList.price | number : '.2-2' }} zł</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="2">Brak danych, spróbuj później</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>