<!-- <p>{{product1.productId}}:</p>
<p>{{product1.productName}}:</p>
<p>{{product1.productManufacter.companyId}}:</p>
<p>{{product1.productManufacter.companyName}}:</p>
<p>{{product2.productId}}:</p>
<p>{{product2.productName}}:</p>
<p>{{product2.productManufacter.companyId}}:</p>
<p>{{product2.productManufacter.companyName}}:</p>
<p>{{product3.productId}}:</p>
<p>{{product3.productName}}:</p>
<p>{{product3.productManufacter.companyId}}:</p>
<p>{{product3.productManufacter.companyName}}:</p> -->

<!-- <app-product-card [product]="product1" ></app-product-card>
<app-product-card [product]="product2" > </app-product-card>
<app-product-card [product]="product3" ></app-product-card> -->
<app-main-web-data></app-main-web-data>

<!-- <div *ngFor="let prod of products"> {{prod.productName}}</div> -->